doctype html
html
  head
    title QR code generator
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Welcome to ticket QR code generator!
    p Number of generated tickets: #{ticketCount} 
    a.btn(href='/generate-tickets', class='button') Generate ticket

    
    script(src='/js/script.js')
