doctype html
html
  head
    title QR code generator
    link(rel='stylesheet', href='/css/index.css')
  body
    h1 Welcome to ticket QR code generator!
    p Number of generated tickets: #{ticketCount} 
    
    script(src='/js/script.js')
